.home-page-title {
  color: #fff;
  font-weight: 600;
  font-size: 50px;
  font-family: "roboto";
}
.home-page-des {
  color: #fff;
  font-weight: 500;
  font-size: 17px;
  margin-top: 20px;
}
.home-page-button {
  width: 120px;
  height: 38px;
  margin-top: 30px;
  background-color: aliceblue;
  color: blueviolet;
  border: none;
  outline: none;
  font-size: 15px;
  font-weight: 500;
  border-radius: 10px;
  cursor: pointer;
}
.banner-sec-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(
      rgba(63, 29, 106, 0.8),
      rgba(39, 5, 82, 0.664)
    ),
    url("https://res.cloudinary.com/dxnwg4dyz/image/upload/v1686546833/pexels-andrea-piacquadio-3769710_rhjp7a.jpg");

  height: 90vh;
  background-size: cover;
  padding: 20px;
}
.footer-section {
  background-color: #e8e5fc;
  height: 200px;
  color: #262727;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer-sec-title {
  font-weight: 600;
  font-size: 26px;
}
.footer-sec-contact {
  margin-top: 10px;
  font-size: 15px;
}
.footer-sec-privacy {
  margin-top: 10px;
  font-size: 12px;
  color: rgb(2, 28, 29);
}
